
h2 Upload

form(method="post", accept-charset="utf-8",  enctype="form-data/multipart")
  input(type="text", name="nick", value="nick")
  input(type="text", name="channel", value="channel")
  input(type="text", name="caption", value="caption")
  input(type="text", name="network", value="network")
  input(type="file", name="picdata")
  input(type="hidden", name="deviceid", value="")
  input(type="hidden", name="devicename", value="")
  input(type="submit", value="Continue &rarr;")

