

.container

  .row
    .span5.columns.about
      h2 Hello fellow IRC-user!

      :markdown
          As we know, IRC is still by far the best Social Media there is, but
          before this there hasn't been any easy way to share pictures on IRC
          especially when on mobile. This is attempt to modernize that aspect
          of IRC.

          Just drag and drop an image on this page, define target and click
          send!

          Or use the [Android app!](#android)


      h2 Disclaimer
      :markdown
        1. Images shared via this service may disappear at any time. This is
        created just for fun.
        2. Any image you are going to share via this service you should be
        prepared to share it with whole world.
        3. Image copyrights will stay with the orignal owners.
        4. No offensive or illegal stuff. You'll be ip-banned for doing that.
        5. Use it for good not evil.


    .span5.columns.upload_form

      h2 Share an image!
      form(method="post", accept-charset="utf-8",  enctype="form-data/multipart")
        fieldset
          .clearfix
            label(for="picdata") Picture to send
            .fileinputs
              input.input-file.file(type="file", name="picdata", id="picdata")
              .fakefile
                button.btn#fileinputcover Select a file
                .description Or just drag one from your desktop
          .clearfix
            label(for="caption") Image caption
            textarea(rows=2, name="caption", value="", id="caption")
          .clearfix
            label(for="network") Target network
            select(name="network", id="network")
              - for (var key in networks)
                  option= networks[key].name
          .clearfix
            label(for="nick") Your IRC nickname
            input(type="text", name="nick", value="", id="nick")
            .description Must match your current nickname on IRC. You will be asked for confirmation on first time.
          .clearfix
            label(for="channel") Destination
            input(type="text", name="channel", value="#", id="channel")
            .description Channel or nickname
          .clearfix
            input(type="hidden", name="deviceid", value="")
            input(type="hidden", name="devicename", value="")
            input.btn.large.primary#upload(type="submit", value="Send to IRC!", disabled)

    .span5.columns.preview
      h2#imgCaption Preview
      #preview
        h3#imgcaption
        #imgpreview


  h1#android Android Application
  .android_description
    :markdown
      The app is coming to Android Market near you soon!

      Mean while you can preview the app using [this package](/IRCShare.apk)
      or [even hack on it!](https://github.com/epeli/ircshare-android)

  .screenshot
    a(href="/screenshots/select.png")
      img(src="/screenshots/select.png", alt="select")
  .screenshot
    a(href="/screenshots/main.png")
      img(src="/screenshots/main.png", alt="main")

  .clearfix

  .android_text


  .container
    h2 Contact
    :markdown
      [Esa-Matti Suuronen](http://esa-matti.suuronen.org/) &lt;<esa-matti@suuronen.org>&gt;

      Epeli @ IRCnet/Freenode

      You can report issues to [Github](https://github.com/epeli/ircshare/issues).
