label {
  margin-right: 5px;
}
.logo {
  margin-right: 1em;
  margin-top: 1em;
}
#preview {
  margin: 1em;
}
#preview img {
  width: 100%;
}
#fb-root,
#LikePluginPagelet {
  display: inline;
}
form label {
  text-align: left;
}
.fileinputs {
  position: relative;
}
.fakefile {
  position: absolute;
  top: 25px;
  left: 0px;
  z-index: 1;
}
.file {
  position: relative;
  opacity: 0;
  z-index: 2;
}
#upload {
  margin-top: 1em;
}
